{{>partials/header}}

<form method="POST" action="cadastro-resultado">
Email:<input type="text" name="email" placeholder="digite o email">
Senha:<input type="password" name="senha" placeholder="digite a senha">
<input type="submit" value="Enviar">
</form>

{{>partials/footer}}